---
import { parse } from "rss-to-json";
import Layout from "../layout.astro";

let articlesURL = "https://news.google.com/rss/search?q=typescript";
let articlesJSON = await parse(articlesURL);
---

<Layout>
  <h1>Hello</h1>
</Layout>